<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="../css/sv_lichhoc.css" type="text/css">


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title><%- title %></title>
    
</head>
<body>
    <nav style="background-color: rgb(173, 201, 219); ">
        <div class="container-fluid">
            <div class="navbar-header" >
                <a href="/sinhvien/xemttcn">
                    <img src="../images/sinhvien/Logo_IUH.png" alt="" style="width:40%;float: left;">
                </a>
                
                
            </div>
            <ul class="nav navbar-nav" style="float: right;">
                <!-- <li class="active"><a href="/sinhvien/xemttcn">Trang chủ</a></li>
                <li ><a href="/sinhvien/xemttcn">Xem thông tin cá nhân</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Học phần<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/sinhvien/dangkyhp">Đăng kí học phần</a></li>
                        <li><a href="/sinhvien/xemctk">Xem chương trình khung</a></li>
                        <li><a href="/sinhvien/xemlh">Xem lịch học</a></li>
                        <li><a href="/sinhvien/xemcongno">Xem Công Nợ</a></li>
                    </ul>
                </li> -->
                <li class="dropdown" style=" margin-top: 90%">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" >Tài khoản<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        
                        <!-- <li><a href="/sinhvien/ketquahoctap">Xem kết quả học tập</a></li> -->
                        <li><a href="/sinhvien/doimk">Đổi mật khẩu</a></li>
                        <li><a href="/sinhvien/dangxuat">Đăng xuất</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <%-body %>
 
</body>
</html>