<div class="container">
    <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4" style="margin-left: 30%; border-style: ridge;">
        <a href="/nhanvien/cnkhoa"><h1>Trở về danh sách</h1></a>
        <form action="/nhanvien/cnkhoa/update_khoa" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="hidden" class="form-control" id="makhoa"  name="makhoa" value="<%=khoa.MaKhoa%>" required>
            </div>
            <div class="form-group">
                <label for="TenKhoa">Tên khoa:</label>
                <input type="text" class="form-control" id="tenkhoa" placeholder="Tên khoa" name="tenkhoa" value="<%=khoa.TenKhoa%>" required>
            </div>
            <button type="submit" class="btn btn-default">Lưu</button>
            <div>
                <br>
            </div>
        </form>
    </div>
</div>