<div class="container">
    <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4" style="margin-left: 30%; border-style: ridge;">    
        <a href="/nhanvien/cnmonhp"><h1>Trở về danh sách</h1></a>
        <form action="/nhanvien/cnmonhp/save_mhp" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="MaMHP">Mã môn học phần:</label>
                <input type="text" class="form-control" id="mamhp" name="mamhp" required>
            </div>
            <div class="form-group">
                <label for="TenMHHP">Tên môn học phần:</label>
                <input type="text" class="form-control" id="tenmhhp"  name="tenmhhp" required>
            </div>
            <div class="form-group">
                <label for="SoTinChi">Số tín chỉ:</label>
                <input type="text" class="form-control" id="sotinchi" name="sotinchi" required>
            </div>
            <div class="form-group">
                <label for="HinhThucThi">Hình thức thi:</label>
                <input type="text" class="form-control" id="hinhthucthi" name="hinhthucthi" required>
            </div>
            <div class="form-group">
                <label for="BatBuoc">Bắt buộc:</label>
                <input type="text" class="form-control" id="batbuoc" name="batbuoc" required>
            </div>
            <div class="form-group">
                <label for="MaKhoa">Mã khoa:</label>
                <select class="form-control" id="makhoa" name="makhoa" required>
                  <%for(let i=0;i < dsmakhoa.length;i++){%>
                    <option value="<%=dsmakhoa[i].MaKhoa%>">
                      <%=dsmakhoa[i].MaKhoa%>
                    </option>
                    <%}%>
                </select>
            </div>
            <div class="form-group">
                <!-- <label for="HocPhanYeuCau">Học phần yêu cầu:</label>
                <input type="text" class="form-control" id="hocphanyeucau" name="hocphanyeucau"  required> -->

                <label for="HocPhanYeuCau">Học phần yêu cầu:</label>
                <select class="form-control" id="hocphanyeucau" name="hocphanyeucau" >
                    <option> </option>
                  <%for(let i=0;i < dshocphan.length;i++){%>
                    <option value="<%=dshocphan[i].MaMHP%>">
                      <%=dshocphan[i].MaMHP%>
                    </option>
                    <%}%>
                </select>
            </div>
            <button type="submit" class="btn btn-default">Lưu</button>
            <div>
                <br>
            </div>
        </form>
    </div>
</div>
