<div class="container">
    <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4" style="margin-left: 30%; border-style: ridge;">
        <a href="/nhanvien/cnlophp"><h1>Trở về danh sách</h1></a>
        <form action="/nhanvien/cnlophp/save_lophp" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="MaLopHP">Mã lớp học phần:</label>
                <input type="text" class="form-control" id="malophp" name="malophp" required>
            </div>
            <div class="form-group">
                <label for="SiSo">Sỉ số:</label>
                <input type="text" class="form-control" id="siso"  name="siso" required>
            </div>
            <div class="form-group">
                <!-- <label for="MaMHP">Mã MHP:</label>
                <input type="text" class="form-control" id="mamhp" name="mamhp" required> -->

                <label for="MaMHP">Mã MHP:</label>
                <select class="form-control" id="mamhp" name="mamhp" required>
                  <%for(let i=0;i < dsmamon.length;i++){%>
                    <option value="<%=dsmamon[i].MaMHP%>">
                      <%=dsmamon[i].MaMHP%>
                    </option>
                    <%}%>
                </select>
            </div>
            <div class="form-group">
                <label for="Nam">Năm:</label>
                <input type="text" class="form-control" id="nam" name="nam" required>
            </div>
            <div class="form-group">
                <label for="HocKy">Học kỳ:</label>
                <input type="text" class="form-control" id="hocky" name="hocky" value="1" required>
            </div>
            <div class="form-group">
                <label for="DaDangKy">Đã đăng ký:</label>
                <input type="text" class="form-control" id="dadangky" name="dadangky" value="0"  required>
            </div>
            <button type="submit" class="btn btn-default">Lưu</button>
            <div>
                <br>
            </div>
        </form>
    </div>
</div>