<div class="container">
    <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4" style="margin-left: 30%; border-style: ridge;">
        <a href="/nhanvien/cnphonghoc"><h1>Trở về danh sách</h1></a>
        <form action="/nhanvien/cnphonghoc/save_phonghoc" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="PhongHoc">Phòng học:</label>
                <input type="text" class="form-control" id="phonghoc" placeholder="Phòng học" name="phonghoc" required>
            </div>
            <button type="submit" class="btn btn-default">Lưu</button>
            <div>
                <br>
            </div>
        </form>
    </div>
</div>