<div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
    <h1>Đăng kí thành công học phần</h1>
</div>
<a href="/sinhvien/dangkyhp" class="btn btn-primary" style="align-items: center;"> Trở lại trang đăng ký</a>

