
    <header id="wrap-header">
        <div class="container">
             
            <div class="row">  
                <h2 class="text-center">Tìm kiếm môn học phần

                </h2>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 2%;">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 1%;">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <label class="label-control col-xs-4 col-sm-4 col-md-4 col-lg-4 ">Tên môn học phần</label>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <select class="form-control">
                                <option >Toán cap cấp 1</option>
                                <option >Toán cap cấp 1</option>
                                <option >Lập trình hướng đối tượng</option>
                                <option >Anh văn 1</option>
                                <option >Kỹ năng làm việc nhóm</option>
                            </select>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <input type="button" value="Tìm kiếm" class="btn btn-warning">
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                      
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 1%;">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <label class="label-control col-xs-4 col-sm-4 col-md-4 col-lg-4 ">Số tín chỉ</label>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <select class="form-control">
                                    <option >2</option>
                                    <option >3</option>
                                    <option >4</option>
                                    <option >5</option>
                                </select>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <input type="button" value="Tìm kiếm" class="btn btn-warning">
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                      
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 1%;">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <label class="label-control col-xs-4 col-sm-4 col-md-4 col-lg-4 ">Tên khoa</label>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <select class="form-control">
                                <option >Công nghệ thông tin</option>
                                <option >Công nghệ điện</option>
                                <option >Ngoại ngữ</option>
                                <option >Luật</option>
                              </select>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <input type="button" value="Tìm kiếm" class="btn btn-warning">
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                      
                    </div>
                </div>
                
            </div>
            <div class="row">  
            </div>
            <div class="row">
                <table class="table table-bordered" style="margin-top: 2%;">
                    <thead>
                      <tr>
                        <th>Mã môn học phần</th>
                        <th>Tên môn học phần</th>
                        <th>Số tín chỉ</th>
                        <th>Hình thức thi</th>
                        <th>Bắt buộc</th>
                        <th>Mã khoa</th>
                        <th>Học phần yêu cầu</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>MHP01</td>
                        <td>Toán cao cấp 1</td>
                        <td>3</td>
                        <td>Lý thuyết</td>
                        <td>Có</td>
                        <td>Khoa học cơ bản</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>MHP02</td>
                        <td>Toán cao cấp 2</td>
                        <td>4</td>
                        <td>Lý thuyết</td>
                        <td>Có</td>
                        <td>Khoa học cơ bản</td>
                        <td>Toán cao cấp 1</td>
                      </tr>
                      <tr>
                        <td>MHP03</td>
                        <td>Lập trình hướng đối tượng</td>
                        <td>4</td>
                        <td>Thực hành</td>
                        <td>Có</td>
                        <td>Công nghệ thông tin</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>MHP04</td>
                        <td>Lập trình hướng sự kiện</td>
                        <td>4</td>
                        <td>Thực hành</td>
                        <td>Có</td>
                        <td>Công nghệ thông tin</td>
                        <td>Lập trình hướng đối tượng</td>
                      </tr>
                      <tr>
                        <td>MHP05</td>
                        <td>Lập trình WWW</td>
                        <td>4</td>
                        <td>Thực hành</td>
                        <td>Có</td>
                        <td>Công nghệ thông tin</td>
                        <td>Web 1</td>
                      </tr>
                    </tbody>
                  </table>
            </div>  
        </div>
    </header>
