
    <header id="wrap-header">
        <div class="container">
            
            <div class="row">  
                <h2 class="text-center">Tìm kiếm giảng viên

                </h2>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 2%;">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 2%;margin-bottom: 2%;">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <label class="label-control">Nhập thông tin muốn tìm</label>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                            <input type="text" class="form-control" /> 
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <input type="button" value="Tìm kiếm" class="btn btn-warning">
                        </div>   
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 1%;margin-bottom: 2%;">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <label class="label-control">Tìm theo</label>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <input class="form-check-input" type="radio">
                            <label class="form-check-label">
                                Tên giảng viên
                            </label>
                        </div> 
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <input class="form-check-input" type="radio">
                            <label class="form-check-label">
                                Địa chỉ
                            </label>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <input class="form-check-input" type="radio">
                            <label class="form-check-label">
                                Số điện thoại
                            </label>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <input class="form-check-input" type="radio">
                            <label class="form-check-label">
                                Tên khoa
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 2%;">
                    <table class="table table-bordered" style="margin-top: 2%;">
                        <thead>
                          <tr>
                            <th>Mã giảng viên</th>
                            <th>Họ tên</th>
                            <th>Giới tính</th>
                            <th>Ngày sinh</th>
                            <th>Địa chỉ</th>
                            <th>Số điện thoại</th>
                            <th>Tên khoa</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>GV1</td>
                            <td>Nguyễn Văn A</td>
                            <td>Nam</td>
                            <td>1950-09-06</td>
                            <td>20 Phan Huy, Gò Vấp , tpHCM</td>
                            <td>0988455154</td>
                            <td>Công nghệ thông tin</td>
                          </tr>
                          <tr>
                            <td>GV10</td>
                            <td>Nguyễn Văn Hùng</td>
                            <td>Nam</td>
                            <td>1996-08-15</td>
                            <td>Đồng Nai</td>
                            <td>0912345678</td>
                            <td>Công nghệ thông tin</td>
                          </tr>
                          <tr>
                            <td>GV14</td>
                            <td>Phạm Anh Tuấn</td>
                            <td>Nam</td>
                            <td>1990-08-18</td>
                            <td>Xã Tam Đông, Thành phố Tam Kỳ, Tỉnh Quảng Nam</td>
                            <td>0312345645</td>
                            <td>Ngoại ngữ</td>
                          </tr>
                          <tr>
                            <td>GV18</td>
                            <td>Nguyễn Trần Ngọc Tới</td>
                            <td>Nam</td>
                            <td>1985-08-18</td>
                            <td>Khối phố Mỹ Hòa, Thành phố Tam Kỳ</td>
                            <td>0312345614</td>
                            <td>Công nghệ điện</td>
                          </tr>
                          <tr>
                            <td>GV1</td>
                            <td>Đỗ Thị Thu Diệp</td>
                            <td>Nữ</td>
                            <td>1991-08-18</td>
                            <td>Xã Mỹ Hòa, Thành phố Tam Kỳ, Tỉnh Quảng Nam</td>
                            <td>0312345665</td>
                            <td>Ngoại ngữ</td>
                          </tr>
                          <tr>
                            <td>GV1</td>
                            <td>Lê Thị Nguyên</td>
                            <td>Nữ</td>
                            <td>1985-08-18</td>
                            <td>Phường Hoà Khê, Quận Thanh Khê, Đà Nẵng </td>
                            <td>0312345616</td>
                            <td>Luật</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>  
        </div>
    </header>
